<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".AccountApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:localeConfig="@xml/locale_config"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules">

        <activity android:name=".activities.SplashActivity"
            android:exported="true" android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.LockScreenActivity"
            android:exported="false" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.EmailLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme" />



        <activity android:name=".activities.AppLockActivity"
            android:exported="false" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".activities.ResetPinActivity"
            android:exported="false" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".activities.DashboardActivity"
            android:exported="false" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".activities.AddTransactionActivity"
            android:exported="false" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".activities.AddLedgerActivity"
            android:exported="false" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".activities.AddSavingsActivity"
            android:exported="false" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".activities.IncomeListActivity"
            android:exported="false" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".activities.ExpenseListActivity"
            android:exported="false" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".activities.LedgerListActivity"
            android:exported="false" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".activities.SavingsListActivity"
            android:exported="false" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".activities.AnalysisActivity"
            android:exported="false" android:screenOrientation="portrait" />

        <activity android:name=".activities.NotesActivity"
            android:exported="false" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".activities.CalculatorActivity"
            android:exported="false" android:screenOrientation="portrait" />

        <activity android:name=".activities.SettingsActivity"
            android:exported="false" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".activities.AdvancedFeaturesActivity"
            android:exported="false" android:screenOrientation="portrait" />

        <activity android:name=".activities.BackupActivity"
            android:exported="false" android:screenOrientation="portrait" />

        <activity android:name=".activities.MaintenanceActivity"/>

        <activity android:name=".activities.TrashActivity"
            android:exported="false" android:screenOrientation="portrait" />

        <activity android:name=".activities.CategoriesActivity"
            android:exported="false" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".activities.AiChatActivity"
            android:exported="false" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".activities.AccountingActivity"
            android:exported="false" android:screenOrientation="portrait" />

        <activity android:name=".activities.AboutActivity"
            android:exported="false" android:screenOrientation="portrait" />

        <!-- ── BACKUP MODULE ACTIVITIES ──────────────────────────────── -->
        <activity
            android:name=".activities.BackupCenterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".activities.CreateBackupActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".activities.TelegramBackupActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".activities.GoogleDriveBackupActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.BackupHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.RestoreBackupActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.RestoreConfirmActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.BackupSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.BackupDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>


        <!-- FileProvider for backup file sharing -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>

        <receiver
            android:name=".widgets.FinanceWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/finance_widget_info"/>
        </receiver>

    </application>
</manifest>
